<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Blog It: view blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
  <link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
  <script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body>
<div class="navIntraTool"><img src="images/page_white_edit.png" />
<a id="" href="add_entry.htm" title="" onclick="">Add blog entry</a> <span
	id="profileForm:seperator"> | </span> <img
	src="images/page_white_edit.png" /> <a href="home.htm">All the
blogs</a> <span id="profileForm:seperator"> | </span> <img
	src="images/cog.png" /> <a id="" href="my_settings.htm" title=""
	onclick="">My blog settings</a> <span id="profileForm:seperator">
| </span> <img src="images/group_gear.png" /> <a id="" href="preferences.htm"
	title="" onclick="">Preferences</a></div>
<br />

<h3>Andy Apple's blog</h3>
<div style="width:200px; margin-left:30px; float:right;"><img
	src="images/sakaiger-600.png" width="100" /><br />
<br />
Hi! I'm Andy, and I'm studying for an MPhil in Applied Research. My
hobbies are hanging out at Indigo's, playing pool in Clare Cellars, and
spending too long in the Rare Books Room at the UL. I'm a member of
Footlights too - come see our summer show!</div>

<div style="margin-right:220px; border:1px solid #cccccc; margin-left:20px; padding:10px; margin-top:20px;">
<h4>Aliquam faucibus</h4>
<div style="text-align:right">10.24, 22nd May 07</div>
<hr class="itemSeparator" align="left" />
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien
consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt
tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat,
massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut
euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo
consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non
turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget,
sagittis nec, accumsan a, lorem.</p>
<div class="itemAction"><a href="add_entry.htm">Edit entry</a> | <a
	href="remove.htm">Remove entry</a> | <a href="comments.htm">22
comments</a> | <a href="comments.htm">Leave a comment</a></div>
</div>
<!-- </div> -->

<div
	style="margin-right:220px; border:1px solid #cccccc; margin-left:20px; padding:10px; margin-top:20px;">
<h4>Curabitur imperdiet, nulla ac molestie feugiat, massa massa
faucibus libero</h4>
<div style="text-align:right">10.24, 22nd May 07</div>
<hr class="itemSeparator" align="left" />
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien
consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt
tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat,
massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut
euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo
consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non
turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget,
sagittis nec, accumsan a, lorem.</p>
<p>Maecenas suscipit. Maecenas euismod purus ut diam. Praesent in
urna. Quisque bibendum magna eu risus. Aliquam tempor velit id erat. Ut
eu dolor. Aenean at diam non quam ultrices lacinia. Etiam lacus lectus,
consequat ac, tempor ullamcorper, tempor sed, magna. Proin porta, risus
quis interdum fermentum, justo quam tristique purus, sed vestibulum nunc
ligula non metus. Suspendisse massa. Pellentesque ac lorem. Fusce sit
amet velit ut erat adipiscing venenatis. Maecenas eu mauris at nulla
dignissim mattis. Pellentesque vel erat. Proin viverra, ligula id
sollicitudin volutpat, nisi ipsum consectetuer nulla, in placerat metus
turpis condimentum sem. Donec pellentesque tellus non erat. Curabitur
non metus at turpis congue vestibulum. Cum sociis natoque penatibus et
magnis dis parturient montes, nascetur ridiculus mus.</p>
<p>Phasellus eu dui. Integer mollis ante nec sem. Nullam placerat
augue et quam. Duis tellus. Ut ullamcorper orci at metus. Cras mollis,
justo sed mattis imperdiet, sem libero pulvinar dolor, eu aliquam felis
velit vitae est. Aenean enim sem, aliquet quis, lacinia id, varius et,
nisl. In pede nibh, porttitor nec, euismod eu, iaculis ac, arcu. Sed a
ante. Donec molestie ullamcorper ligula. Quisque pretium. Nunc elit.
Aliquam et turpis. Morbi odio felis, iaculis et, interdum in, suscipit
eu, dui.</p>
</div>

<div
	style="margin-right:220px; border:1px solid #cccccc; margin-left:20px; padding:10px; margin-top:20px;">
<h4>Suspendisse pretium urna non turpis!</h4>
<div style="text-align:right">10.24, 22nd May 07</div>
<hr class="itemSeparator" align="left" />
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien
consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt
tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat,
massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut
euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo
consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non
turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget,
sagittis nec, accumsan a, lorem. Etiam tincidunt tortor sit amet lacus.
Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus
libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed
arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. Mauris
porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius
lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan
a, lorem.</p>
</div>



<img src="images/tea.gif" align="right" />
</body>
</html>
