<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Blog It: view comments on a blog</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<link rel="stylesheet" type="text/css" href="portal.css"/>
	<link rel="stylesheet" type="text/css" href="tool_base.css"/>
	<link rel="stylesheet" type="text/css" href="tool.css"/>
</head>
<body>
<div class="portletBody">
  <div class="navIntraTool">
  </div>
  <br/>

  <h3>Andy Apple's blog and comments</h3>
  <div style="width:200px; margin-left:30px; float:right;">
    <img src="images/sakaiger-600.png" width="100"/><br/><br/>
      Hi! I'm Andy, and I'm studying for an MPhil in Applied Research. My hobbies are hanging out at Indigo's, playing pool 
      in Clare Cellars, and spending too long in the Rare Books Room at the UL. I'm a member of Footlights too - come see our summer show! 
  </div>

<div rsf:id="blog-entry:" style="margin-right:220px; border:1px solid #cccccc; margin-left:20px; padding:10px; margin-top:20px;">
  <h4 rsf:id="blog-title" >Aliquam faucibus</h4>
  <div rsf:id="blog-date" style="text-align:right">10.24, 22nd May 07</div>
  <hr class="itemSeparator" align="left" />
  <div rsf:id="verbatim-blog-text" >
    Aliquam faucibus, velit eget accumsan interdum, mauris sapien
    consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt
    tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat,
    massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut
    euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo
    consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non
    turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget,
    sagittis nec, accumsan a, lorem.
  </div>
  <div rsf:id="action-items" class="itemAction">
    <a rsf:id="edit-entry-link" href="add_entry.htm">Edit entry</a> | 
    <a rsf:id="remove-entry-link" href="remove.htm">Remove entry</a> | 
    <span>22 comments</span> | 
    <a href="comments.htm">Leave a comment</a>
  </div>
  <form rsf:id="remove-entry-form" method="post">
    <input id="" type="submit" style="display:none" value="" rsf:id="remove-command" />
  </form>
  <br />
  <div class="discTria">
    Says Candy Crabapple at 7.32pm, 24th May 07
  </div>
  <p>
    Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien 
    justo a urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, 
    massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis 
    lacus. Duis sed erat ac elit commodo consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non 
    turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan a, lorem.
  </p>
  <div class="itemAction">
    <a href="comments.htm">Leave a comment</a>
  </div>
  <div class="discTria">
    Says Candy Crabapple at 7.32pm, 24th May 07
  </div>
  <p>
    Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien justo a 
    urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus libero, 
    eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. 
    Mauris porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat 
    eget, sagittis nec, accumsan a, lorem.
  </p>
  <div class="itemAction">
    <a href="comments.htm">Leave a comment</a>
  </div>
  <h4>Leave a comment</h4>
  <textarea rows="10" cols="80" name="something">This should be the FCK editor.</textarea>
  <p>
    <input type="submit" value="Publish comment"/>
    <input type="submit" value="Cancel"/>
  </p>
</div>


<div style="margin-right:220px; border:1px solid #cccccc; margin-left:20px; padding:10px; margin-top:20px;">
<h4>Aliquam faucibus</h4>
<div style="text-align:right">10.24, 22nd May 07</div>
<hr class="itemSeparator" align="left" />
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien justo a urna.
 Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus libero,
 eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. 
Mauris porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, 
sagittis nec, accumsan a, lorem.</p>
<div class="itemAction">
<a href="add_entry.htm">Edit entry</a> | <a href="remove.htm">Remove entry</a> |
 <a href="comments.htm">Leave a comment</a></div>
<br/>
<div class="discTria">
Says Candy Crabapple at 7.32pm, 24th May 07
</div>
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan a, lorem.</p>
<div class="itemAction">
 <a href="comments.htm">Leave a comment</a></div>
<div class="discTria">
Says Candy Crabapple at 7.32pm, 24th May 07
</div>
<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan a, lorem.</p>
<div class="itemAction">
 <a href="comments.htm">Leave a comment</a></div>
<h4>Leave a comment</h4>
<textarea rows="10" cols="80" name="something">This should be the FCK editor. </textarea>
		<p>
		<input type="submit" value="Publish comment"/>
		<input type="submit" value="Cancel"/>
		</p>
</div>

</div>


<img src="images/tea.gif" align="right"/>
</div>
</body>
</html>
