<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Blog It: My Entries</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<link rel="stylesheet" type="text/css" href="portal.css"/>
	<link rel="stylesheet" type="text/css" href="tool_base.css"/>
	<link rel="stylesheet" type="text/css" href="tool.css"/>
</head>
<body>
<div class="navIntraTool">
	<img src="images/page_white_edit.png"/>
	<a href="add_entry.htm">Add blog entry</a>
	<span id="profileForm:seperator"> | </span>
	<img src="images/page_white_edit.png"/>
	<a href="home.htm">All the blogs</a>
	<span id="profileForm:seperator"> | </span>
	<img src="images/cog.png"/>
	<a href="my_settings.htm">My blog settings</a>
	<span id="profileForm:seperator"> | </span>
	<img src="images/group_gear.png"/>
	<a href="">Preferences</a>
</div>
<br/>
	<h3>Remove a blog entry</h3><br/>
	<div class="tier1">
	<div class="alertMessage">Are you sure you want to remove this entry from your blog?<br>
	</div>
	<div class="highlightPanel">
<h4>Aliquam faucibus</h4>
		<p>Aliquam faucibus, velit eget accumsan interdum, mauris sapien consequat turpis, vel tristique sapien justo a urna. Etiam tincidunt tortor sit amet lacus. Curabitur imperdiet, nulla ac molestie feugiat, massa massa faucibus libero, eget convallis ipsum mauris vel ligula. Ut euismod diam sed arcu. Proin quis lacus. Duis sed erat ac elit commodo consequat. Mauris porttitor urna ac arcu. Suspendisse pretium urna non turpis. Sed varius lectus sed arcu. Nunc ante metus, placerat eget, sagittis nec, accumsan a, lorem.</p>
		<p>
		<input type="submit" value="Remove entry"/>
		<input type="submit" value="Cancel"/>
		</p>
	</div>
	</div>
<img src="images/tea.gif" align="right"/>
</body>
</html>
